@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/*font-family: 'Permanent Marker', cursive;
*/


*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     list-style: none;

}

body  {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(
        90deg,
        rgb(186, 37, 216) 0%,
        rgb(120, 43, 184) 51%,
        rgb(185, 33, 255) 100%

    );
}

   .container {
        max-width: 1200px;
        margin: 0 auto;
   }

   .header {
    display: flow-root;
    min-height: 75vh;
    align-items: center; 
   } 

    .menu {
    position: absolute;
    top: 10;
    left: 10;
    right: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

   } 

   .menu .logo{
         width: 175px;
         height: 200px;
    justify-content: space-between;
    padding: 500px 0 100px 0;
   } 


   .menu .navbar ul li a {
    font-size: 18px;
    padding: 40px;
    color: cornsilk;
    display: block;

   }

   .menu .navbar ul li a:hover {
       color: chartreuse;
   }

 


   .header-content{
    display: flex;
    align-items: center;
   } 

   .header-txt{
    width: 50%;
   }

   .header-txt h1 {
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    font-family: 'Permanent Marker', cursive;
    margin: 15px;
   }
   
   .header-txt span{
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-family: 'Permanent Marker', cursive;
}
  p {
    font-size: 20px;
    color: rgb(0, 255, 242);
    margin-bottom: 30px;
  }
   
  .btn-1{
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 13px 30px;
    background-color: aquamarine;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .btn-1:hover{
    background-color: rgb(101, 185, 16);
 }

  .header-img {
    width: 50px;
  }

  .header-img img{
      width: 700;
  }


  .services{
      display: flex;
      justify-content: space-between;
      padding: 0 0 50px 0;
  }

  .services-1 {
    text-align: center;
    padding: 35px;
    margin: 0 10px;
  }

  .services-1 h3{
    font-size: 20;
    font-family: 'Permanent Marker', cursive;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
  }

  .info {
    padding: 50px 0;
    display: flex;
  }

  .info-1 {
    width: 50%;
    
  }

  .info-1 img{
    width: 450px;
  }

  .info-2{
    width: 50%;
  }

  h2 {
    font-size: 70px;
    letter-spacing: 5px;
    font-family: 'Permanent Marker', cursive;
    color: black;
  }

  .ropa {
    padding: 0 0 100px 0;
    text-align: center;
  }

  .Ropa-content {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .Ropa-1{
    padding: 35px;
    text-align: center;
  }

  .Ropa-1 img{
    width: 250px;
  }

  .Ropa-1 h3{
    font-size: 22px;
    color: black;
    margin-bottom: 15px;
  }

  .btn-2{
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    background-color: rgb(251, 255, 253);
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .btn-2:hover{
    background-color: rgb(101, 185, 16);
  }

  .menu{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;

  }
   
  
  header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }


nav {
  float: left;
}

nav ul {
  list-style: none;
  overflow: hidden; 
}


nav ul li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;;
  font-size: 20px;
}

nav ul li a {
  display: block; 
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  background: #eca023;}